body {
  font-family:'Roboto','sans-serif';
  font-size: 20px;
  padding: 50px;
  border-style: none;
  align-content: center;
}
h1,h3{
  font-family: 'Open sans','georgia';
}

.header {
  margin-top: 20px;
  background:url(titlebg.jpg);
  height: 150px;
  color: teal;
}

.container {
  border: 0px solid;
  max-width: 100%;
}

.margin {
  margin-top: 10px;
  margin-bottom: 5px;
}
.vald1 {
  color: red;
  font-size: small;
}

.image {
  width: 650px;
  height: 500px;
  border-image: rounded;
}


@media only screen and  (max-width: 375px) {
  .col-md-6 {
    width: 100%;
  }
  .flex-container {
    background:none;
    margin-bottom: 50px;
    border-collapse: collapse;
  }

  .image {
    width: 200px;
    height: 200px;
    border-image: rounded;
  }
}

@media only screen and (min-width: 350px) and (max-width: 400px) {
  .col-md-6 {
    width: 100%;
  }
  .flex-container {
    background: rgb(245, 246, 248);
    margin-bottom: 20px;
  }
  .image {
    width: 260px;
    height:260px;
    border-image: rounded;
  }
}
@media only screen and (min-width:400px) and (max-width:750px){
  .image{
    width:290px;
    height:290px;
  }
}

@media only screen and (min-width: 765px) and (max-width: 1290px) {
  .col-md-6{
    width:100%;

  }
  .flex-container {
    background:none;

  }

  .image{
    width:612px;
    height:454px;
  }
}

@ media only screen and (min-width:1290px) and (max-width:1440px)
{
  .col-md-6{
    width:100%;
  }

  .image{
    width:640px;
  }
}
